/* used in slider-trail-list macro for generating slider-list */
.kk-slider-toc ol    {list-type:none;padding-left:0;}
.kk-slider-toc ol ol {
  list-style:none;
	padding-left:2em;
}
.kk-slider-toc ol ol a{font-weight:normal}	
/* the right, down arrows in tiddlyshow-toc macro */
.kk-slider-toc svg{	fill: #acacac;}

.kk-slide-list span {color:#999999;}