/* Colors taked from [1] https://www.w3schools.com/colors/colors_names.asp 
[2] http://www.workwithcolor.com/color-chart-full-01.htm
*/
.MistyRose{background-color:#FFE4E1;}
.LemonChiffon{background-color:#FFFACD;}
.LavenderBlush{background-color:#FFF0F5;}
.Lavender{background-color:#E6E6FA;}
.Honeydew{background-color:#F0FFF0;}
.LightCyan{background-color:#E0FFFF;}
.AliceBlue{background-color:#F0F8FF;}
.Cornsilk{background-color:#FFF8DC;}
.Gainsboro{background-color:#DCDCDC;}
.Bisque{background-color:#FFE4C4;}
.Snow{background-color:#FFFAFA;}
/* darker ones*/
.PowderBlue{background-color:#B0E0E6}
.Aquamarine{background-color:#7FFFD4;}
.PaleGreen{background-color:#98FB98;}
.Pink{background-color:#FFC0CB;}
.LightSalmon{background-color:#FFA07A;}
.Lime{background-color:#bfef45;}
.Mint{background-color:#aaffc3;}
.Beige{background-color:#fffac8;}
.Appricot{background-color:#ffd8b1;}